// .bgImage{
//   background-image: url('../assets/img/registrationbg.svg');
//   background-repeat: no-repeat;
//   background-color:#10384F;
// 	background-size: cover;
// 	//width: ;
// 	min-height:100vh;
//   max-height: 1080px;
// }
.pt-50{
	padding-top:53.68px;
	font-size:34.45px;
  color:#F7F6F8;
  font-family: ArialMT;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}

.mandatoryPara{
  font: normal normal normal 14px/16px Arial;
  font-size: 14px;
  color:#fff;
}
.contact{
  color: #F7F6F8;
  font-size: 12px;
  font-family: ArialMT;
}
.register{
  font: italic normal normal 12px/14px Arial;
}
.contactBold{
  
  font: normal normal bold 12px/14px Arial;
}


//New


.form-background{
  background-image: url('../../assets/img/main-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height:100vh;
  max-height: 1190px;
}


.container{
  max-width: 1200px;
  width: 100%;
  /*background-color: #104962;*/
  color: #ffffff;
  
  margin: auto;
  font-weight: 500;
  font-family: Arial;


}

.heading{
  padding-top: 20px;
  padding-left: 1%;
  /*float: left;*/
  display: block;
  height: 50px;
  /*width: 75%;*/
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}





.logo img{
  max-width: 70px;
  width: 100%;
}

@media only screen and (max-width: 425px) {
  .logo img{
      max-width: 55px;
      width: 100%;
    }
    .logo{
      width: 70px;
        height: 70px;
        position: absolute;
        right: 4px;
        left: auto;
        top: 7px;
        text-align: right;
    }
  }

@media screen and (max-width: 1024px) and (min-width: 426px) {
  .logo img{
      max-width: 65px;
      width: 100%;
    }
        .logo{
      width: 70px;
        height: 70px;
        position: absolute;
        right: 15px;
        left: auto;
        top: 15px;
        text-align: right;
    }
  }

  @media screen and (min-width: 1025px) {
  .logo img{
      max-width: 70px;
      width: 100%;
    }
        .logo{
      width: 70px;
        height: 70px;
        position: absolute;
        right: 30px;
        left: auto;
        top: 30px;
        text-align: right;
    }
  }
   @media screen and (max-width: 767px) {
      .footer{
        margin-left: 0 !important;
        font-size: 14px;
        padding-bottom: 10px;
        text-align:center !important;
      }
    .footer a{
        color: #ffffff;
        text-decoration: underline;
    }  
  }

  .footer{
    margin-left: 7.5%;
    font-size: 14px;
    padding-bottom: 10px;
  }
.footer a{
    color: #ffffff;
    text-decoration: underline;
}
.bottomNumber {
  font: normal normal normal 13px/16px Arial;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 0.3;
}