<section class="form-background">
   <div class="container">
      <div class="logo">
               <a href="../"><img src="assets/img/bayer-logo.png" /></a>
            </div>
      <div class="row w-100 pt-5">
         <div class="col-12">
            <h1 class="heading">Head to Toe Virtual Event Registration</h1>
            
         </div>
      </div>
         <mat-horizontal-stepper [linear]="isLinear" #stepper>
            <mat-step label="Personal Information" [stepControl]="firstFormGroup">
               <form [formGroup] = "firstFormGroup" class="p-2" autocomplete="off">
               <div class="row pt-4">
                  <div class="col-md-8 offset-md-2 col-sm-12">
                     <div class="form-group ">
                        <span class="selectHolder" #placeholders>Salutation</span>
                        <mat-select formControlName="salutation" class="form-control" 
                           (selectionChange)="selectP(placeholders, $event)">
                           <mat-option value="Mr">Mr</mat-option>
                           <mat-option value="Mrs">Mrs</mat-option>
                           <mat-option value="Ms">Ms</mat-option>
                           <mat-option value="Dr">Dr</mat-option>
                           <mat-option value="Professor">Professor</mat-option>      
                        </mat-select>
                        <span class="errorBlock">
                          <!--  <mat-error *ngIf="isControlHasError('salutation','required')">Please select salutation</mat-error> -->
                        </span>
                     </div>
                  </div>
                  <div class="col-md-8 offset-md-2">
                     <div class="form-group ipg location">
                        <span class="holder">First Name <span class="red">*</span></span>
                        <input (keypress)="omit_special_char_space($event)" matInput type="text" formControlName="first_name" class="form-control" placeholder="" maxlength="20" required="required">
                        <span class="errorBlock">
                           <mat-error *ngIf="isControlHasError('first_name','required')">Please enter first name</mat-error>
                        </span>
                     </div>
                  </div>
                  <div class="col-md-8 offset-md-2">
                     <div class="form-group ipg location">
                        <span class="holder">Last Name <span class="red">*</span></span>
                        <input (keypress)="omit_special_char_space($event)" matInput type="text" formControlName="last_name" class="form-control" placeholder="" maxlength="20" required="required"> 
                        <span class="errorBlock">
                           <mat-error *ngIf="isControlHasError('last_name','required')">Please enter last name</mat-error>
                        </span>
                     </div>
                  </div>
                  <div class="col-md-8 offset-md-2">
                     <div class="form-group ipg location">
                        <span class="holder">Institution <span class="red">*</span></span>
                        <input (keypress)="omit_special_char($event)" matInput type="text" formControlName="company_name" class="form-control" maxlength="20" placeholder=""> 
                        <span class="errorBlock">
                           <mat-error *ngIf="isControlHasError('company_name','required')">Please enter institution</mat-error>
                        </span>
                     </div>
                  </div>
                  <div class="col-md-8 offset-md-2">
                     <div class="form-group ">
                        <span class="selectHolder" #placeholder>Profession <span class="red">*</span></span>
                        <mat-select id= "myselect" formControlName="job_title" class="form-control" (selectionChange)="selectP(placeholder, $event)">
                           <mat-option id='trade_buy_max'  value="radiologist">Radiologist</mat-option>
                           <mat-option value="technologist">Technologist/Radiographer</mat-option>
                           <mat-option value="industry_professional">Industry professional</mat-option>
                           <mat-option value="radiology_administrator">Radiology administrator</mat-option>
                           <mat-option value="other">Other</mat-option>
                        </mat-select>
                        <span class="errorBlock">
                           <mat-error *ngIf="isControlHasError('job_title','required')">Please select profession</mat-error>
                        </span>
                     </div>
                  </div>
                  <div class="col-md-8 offset-md-2">
                     <div class="form-group">
                        <span class="selectHolder" #placeholderc>Country(where you practice) <span class="red">*</span></span>
                        <mat-select formControlName="country" class="form-control" 
                           (selectionChange)="selectP(placeholderc, $event)">
                           <mat-option value="Albania">Albania</mat-option>
                           <mat-option value="Australia">Australia</mat-option>
                           <mat-option value="Austria">Austria</mat-option>
                           <mat-option value="Bahrain">Bahrain</mat-option>
                           <mat-option value="Belgium">Belgium</mat-option>
                           <mat-option value="Bosnia_Herzegovina">Bosnia and Herzegovina</mat-option>
                           <mat-option value="Bulgaria">Bulgaria</mat-option>
                           <mat-option value="China">China</mat-option>
                           <mat-option value="Croatia">Croatia</mat-option>
                           <mat-option value="Cyprus">Cyprus</mat-option>
                           <mat-option value="Czech_Republic">Czech Republic</mat-option>
                           <mat-option value="Denmark">Denmark</mat-option>
                           <mat-option value="Egypt">Egypt</mat-option>
                           <mat-option value="Estonia">Estonia</mat-option>
                           <mat-option value="France">France</mat-option>
                           <mat-option value="Germany">Germany</mat-option>
                           <mat-option value="Greece">Greece</mat-option>
                           <mat-option value="Hong_Kong">Hong Kong</mat-option>
                           <mat-option value="Hungary">Hungary</mat-option>
                           <mat-option value="India">India</mat-option>
                           <mat-option value="Indonesia">Indonesia</mat-option>
                           <mat-option value="Iraq">Iraq</mat-option>
                           <mat-option value="Italy">Italy</mat-option> 
                           <mat-option value="Japan">Japan</mat-option>
                           <mat-option value="Jordan">Jordan</mat-option> 
                           <mat-option value="Korea">Korea</mat-option> 
                           <mat-option value="Kosovo">Kosovo</mat-option>
                           <mat-option value="KSA">KSA</mat-option> 
                           <mat-option value="Kuwait">Kuwait</mat-option> 
                           <mat-option value="Latvia">Latvia</mat-option>
                           <mat-option value="Lebanon">Lebanon</mat-option> 
                           <mat-option value="Libya">Libya</mat-option> 
                           <mat-option value="Lithuania">Lithuania</mat-option> 
                           <mat-option value="Macau">Macau</mat-option>
                           <mat-option value="Malaysia">Malaysia</mat-option>
                           <mat-option value="Montenegro">Montenegro</mat-option> 
                           <mat-option value="Netherlands">Netherlands</mat-option> 
                           <mat-option value="New_Zealand">New Zealand</mat-option> 
                           <mat-option value="North_Macedonia">North Macedonia</mat-option> 
                           <mat-option value="Norway">Norway</mat-option>
                           <mat-option value="Oman">Oman</mat-option>
                           <mat-option value="Pakistan">Pakistan</mat-option>
                           <mat-option value="Philippines">Philippines</mat-option>
                           <mat-option value="Poland">Poland</mat-option>
                           <mat-option value="Portugal">Portugal</mat-option>
                           <mat-option value="Qatar">Qatar</mat-option>
                           <mat-option value="Romania">Romania</mat-option>
                           <mat-option value="Russia">Russia</mat-option>
                           <mat-option value="Russia">Russia</mat-option>
                           <mat-option value="Singapore">Singapore</mat-option>
                           <mat-option value="Slovenia">Slovenia</mat-option>
                           <mat-option value="South_Africa">South Africa</mat-option>
                           <mat-option value="Spain">Spain</mat-option>
                           <mat-option value="Sudan">Sudan</mat-option>
                           <mat-option value="Sweden">Sweden</mat-option>
                           <mat-option value="Switzerland">Switzerland</mat-option>
                           <mat-option value="Syria">Syria</mat-option>
                           <mat-option value="Taiwan">Taiwan</mat-option>
                           <mat-option value="Thailand">Thailand</mat-option>
                           <mat-option value="Turkey">Turkey</mat-option>
                           <mat-option value="UAE">UAE</mat-option>
                           <mat-option value="Ukraine">Ukraine</mat-option>
                           <mat-option value="United_Kingdom">United Kingdom</mat-option>
                           <mat-option value="Vietnam">Vietnam</mat-option>
                           <mat-option value="Yemen">Yemen</mat-option>
                        </mat-select>
                        <span class="errorBlock">
                           <mat-error *ngIf="isControlHasError('country','required')">Please select country</mat-error>
                        </span>
                     </div>
                  </div>
                  <div class="col-md-8 offset-md-2">
                     <div class="form-group ipg location">
                        <span class="holder">How did you hear about the event? <span class="red">*</span></span>
                        <input (keypress)="omit_special_char($event)" matInput type="text" formControlName="event_source" class="form-control" maxlength="20" placeholder=""> 
                        <span class="errorBlock">
                           <mat-error *ngIf="isControlHasError('event_source','required')">Please enter event information source</mat-error>
                        </span>
                     </div>
                  </div>
                  <div class="col-md-8 offset-md-2">
                     <div class="form-group mb-0">
                        <span class="selectHolder" #placeholderfoi>Field of interest <span class="red">*</span></span>
                        <mat-select formControlName="field_of_interest" class="form-control" 
                           (selectionChange)="selectP(placeholderfoi, $event)" panelClass="testClass" multiple >
                           <mat-option value="live_session" color="primary">Live session</mat-option>
                           <mat-option value="On_demand_sessions">On-demand sessions</mat-option>
                           <mat-option value="ct">CT</mat-option>
                           <mat-option value="mr">MR</mat-option>
                        </mat-select>
                        <span class="errorBlock">
                           <mat-error *ngIf="isControlHasError('field_of_interest','required')">Please select field of interest</mat-error>
                        </span>
                     </div>
                  </div>
                  <div class="col-md-8 offset-md-2">
                     <div class="form-group mb-0">
                       <button type="button" 
                       [disabled]="this.firstFormGroup.invalid"
                       class="next"
                       mat-raised-button 
                       matStepperNext                  
                       ><span class="disableNext">Next</span></button>
                     </div>
                  </div>
               </div>
            
             </form>
              </mat-step>
            <mat-step label="User Information" [stepControl]="secondFormGroup">
               <form [formGroup] = "secondFormGroup" class="p-2" autocomplete="off">
               <div class="row pt-4">
                  <div class="col-md-8 offset-md-2">
                     <div class="form-group ipg location">
                        <span class="holder">Email <span class="red">*</span></span>
                        <input type="email" matInput formControlName="email" class="form-control" placeholder="" required>                 
                        <span class="errorBlock">
                           <mat-error *ngIf="isControlHasError('email','pattern')">Please enter valid email</mat-error>
                           <mat-error *ngIf="isControlHasError('email','required')">Please enter email</mat-error>
                        </span>
                     </div>
                  </div>
                  <div class="col-md-8 offset-md-2">
                     <div class="form-group">
                        <span class="selectHolder" #placeholderl style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;width: 80%;">Language preference for on-demand Webinar <span class="red">*</span></span>
                        <mat-select formControlName="language" class="form-control" 
                           (selectionChange)="selectP(placeholderl, $event)">
                           <mat-option value="english">English</mat-option>
                           <mat-option value="german">German</mat-option>
                           <mat-option value="french">French</mat-option>
                           <mat-option value="italian">Italian</mat-option>
                           <mat-option value="Russian">Russian</mat-option>
                           <mat-option value="rolish">Polish</mat-option>
                           <mat-option value="spanish">Spanish</mat-option>
                           <mat-option value="portuguese">Portuguese</mat-option>
                        </mat-select>
                        <span class="errorBlock">
                           <mat-error *ngIf="isControlHasError('language','required')">Please select language</mat-error>
                        </span>
                     </div>
                  </div>
                  <div class="col-md-8 offset-md-2">
                     <div class="form-group ipg location">
                        <i class="fa"[ngClass]="{'fa-eye-slash': !fieldTextType,'fa-eye': fieldTextType}"
                        (click)="toggleFieldTextType()" style="font-size: 30px;right: 0;padding-right: 65px;color: #676767;padding-top: 12px;"></i>
                        <span class="holder">Password <span class="red">*</span></span>
                        <input [type]="fieldTextType ? 'text' : 'password'" matInput formControlName="password" class="form-control" placeholder="" minlength = "6" maxlength = "15" required>
                        <span class="errorBlock">
                           <mat-error *ngIf="isControlHasError('password','required')">
                              Please enter password
                           </mat-error>
                           <mat-error *ngIf="isControlHasError('password','minlength')">
                              Password must be at least 6 characters
                           </mat-error>
                        </span>
                     </div>
                  </div>
                  <div class="col-md-8 offset-md-2">
                     <div class="form-group ipg location mb-0">
                        <span class="holder">Confirm Password <span class="red">*</span></span>
                        <input type="password" matInput formControlName="confirm_password" class="form-control" placeholder="" minlength = "6" maxlength = "15">
                        <!-- <span class="placeholder">Confirm Password<sup>*</sup></span> -->
                        <span class="errorBlock">
                           <mat-error *ngIf="isControlHasError('confirm_password','required')">
                              Please enter confirm password
                           </mat-error>
                           <mat-error *ngIf="isControlHasError('confirm_password','notSame')">
                              Password & Confirm password must match
                           </mat-error>
                        </span>
                     </div>
                  </div>
                  <div class="col-md-8 offset-md-2">
                     <div class="form-group mb-0">
                       <button type="button" 
                       [disabled]="this.secondFormGroup.invalid"
                       class="next"
                       mat-raised-button 
                       matStepperNext                  
                       ><span class="disableNext">Next</span></button>
                       &nbsp;
                       <button type="button" 
                       mat-raised-button color="primary" 
                       class="prevoius" 
                       matStepperPrevious 
                       style="float: right;
                         width: 150px;
                         height: 45px;
                         margin-right: 10px;
                         background: #FFFFFF80 0% 0% no-repeat padding-box" 
                       >Previous</button>
                     </div>
                  </div>
               </div>
               <!-- <div class="row">
                  <div class="col-md-8 offset-md-2 text-center">
                    <button mat-raised-button color="primary" class="mr-2" matStepperPrevious >Back</button>
                    <button mat-raised-button color="primary" class="mr-2" matStepperNext >Next</button>
                  </div>
               </div> -->
            </form>
            </mat-step>
            <mat-step label="Confirm Details"[stepControl]="thirdFormGroup">
               <form [formGroup] = "thirdFormGroup" class="p-2" autocomplete="off">
               
               <div class="row pt-4">
                  <div class="col-md-8 offset-md-2">
                     <div class="form-group ipg location">
                        <re-captcha #captchaRef formControlName="recaptchaReactive" (resolved)="resolved($event)" required></re-captcha>
                     </div>
                  </div>
                  <div class="col-md-8 offset-md-2">
                     <div class="form-group">
                        <p class="mandatoryPara">Fields marked with <span class="text-danger">*</span> are mandatory.</p>
                     </div>
                  </div>
                  <div class="col-md-8 offset-md-2">
                     <div class="form-group ipg location" style="margin-bottom: 0">
                          <div class="form-check">
                              <mat-checkbox formControlName="accept_terms" (change)="accept($event)"color = "primary" class="example-margin text-white"><a href="../terms-service/" target="_blank" style="text-decoration: none;">Accept terms of use</a></mat-checkbox>
                           </div>
                     <!-- </div>
                  </div>
                  <div class="col-md-8 offset-md-2">
                     <div class="form-group ipg location mb-0"> -->
                         <div class="form-check">
                        <mat-checkbox formControlName="privacy" (change)="privacy($event)"color = "primary" class="example-margin text-white"><a href="../privacy-policy/" target="_blank" style="text-decoration: none;">Accept privacy statement</a></mat-checkbox>
                     </div>
                     </div>
                  </div>
                  <div class="col-md-8 offset-md-2">
                     <div class="form-group">
                         <button type="button" 
                       mat-raised-button
                       class="prevoius" 
                       matStepperPrevious 
                       style="float: left" 
                       >Previous</button>
                       &nbsp;&nbsp;&nbsp;
                       <button type="submit" 
                       mat-raised-button  
                       class="submit" 
                       [disabled]="this.thirdFormGroup.invalid"
                       [class.spinner]="loading" 
                       (click)="registration()" 
                       style="background:#66b512!important" 
                       ><span class="submitText">SUBMIT</span></button>
                     </div>
                  </div>
               </div>
            </form>
            </mat-step>
         </mat-horizontal-stepper>
      
      <div class="row">
         <div class="col-md-8 offset-md-2 ">
            <p class='footer pb-0'>If you're having problems registering, please contact Antje Gawenda on <a href="mailto:antje.gawenda@bayer.com">antje.gawenda@bayer.com</a></p>
         </div>
      </div>
      <div class="row">
         <div class="col-12 ">
            <p class='text-right bottomNumber pb-0'>PP-CONT-ALL-0015-1 OCT 20</p>
         </div>
      </div>
   </div>
</section>