<div class="container pt-5 pb-3">
	<div class="row">
		<div class="col-12">
			<h4 class="mb-3 headingColor font-weight-bold">HuddleXR Terms of Service</h4>
			<div>			
				<h5 class="mb-3 mt-2 pl-2 font-weight-bold">1. Software Services and Professional Services</h5>

				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">A. <span class="font-weight-bold">Services.</span></h6>
					<p class="pl-5">
						Subject to the terms, conditions, and restrictions stated in this Huddle<sup>XR</sup> Terms of Service (these “<b>Terms of Service</b>”) and each Statement of Work signed by the parties (each an “<b>SOW</b>”), HuddleXR shall provide Customer and its authorized users with web-based access to a virtual event platform that includes the features and functionality specified in the SOW (the “<b>Software Services</b>”) and with migration, integration, configuration, testing, consulting and other services related to the Software Services and described in the SOW (the “<b>Professional Services</b>”). The Software Services, as implemented in accordance with the Professional Services, is referred to below as the “<b>Virtual Event Platform</b>.” These Terms of Service and the SOW are referred to collectively as the “<b>Agreement</b>” below.
					</p>
				</div>	
				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">B. <span class="font-weight-bold">User Data, Content and Security.</span></h6>
				
					<ol class="pl-5" type="i">
					  <li class="mb-2"><u>User Data</u>.&nbsp;“<b>User Data</b>” is personal data or information collected by HuddleXR from or about Customer’s staff members, event attendees, and other users of the Virtual Event Platform. HuddleXR shall use the User Data only to provide the Platform and Professional Services, as instructed by Customer, or required by applicable law. HuddleXR will comply with Customer’s reasonable requests for assistance in connection with a user’s request to delete, correct, block or take other action with respect to the User Data (a “<b>User Data Request</b>”). HuddleXR shall promptly forward to Customer any User Data Request made directly on HuddleXR.</li>

					  <li class="mb-2"><u>Content</u>.&nbsp;“<b>Content</b>” is the information and materials provided or submitted by or on behalf of Customer or its users for publication on the Platform for use by Customer’s registered end users. Customer licenses the Content to HuddleXR on a non-exclusive, revocable basis only as necessary to provide the Services, and only for the Term of the SOW. Other than this license, as between HuddleXR and Customer, Customer retains all right, title and interest in and to the Content, including any modifications to or derivatives of the Content that may be prepared by HuddleXR as part of Professional Services. The Content and the User Data are referred to below as the “<b>Customer Information</b>”). Customer represents and warrants that it has all rights necessary to provide and license the Customer Information to HuddleXR for use as permitted by these Terms of Service and the SOW, that HuddleXR’ use of the Content as permitted by these Terms of Service and the SOW will not infringe, misappropriate or violate intellectual property rights of any third party, and that HuddleXR use of the User Data as permitted by this Agreement will not violate any rights of publicity or privacy of any third party.</li>

					  <li class="mb-2"><u>Security</u>.&nbsp;HuddleXR shall put in place and maintain reasonable administrative, physical, and technical security measures to protect against unauthorized access, alteration, disclosure, and destruction of Customer Information. Customer acknowledges that the security of information transmitted over the Internet is not within HuddleXR full control and that HuddleXR cannot and does not guaranty impenetrable security of the Customer Information.</li>

					  <li class="mb-2"><u>Sensitive Personal Information</u>.&nbsp;Customer acknowledges that the Platform is not designed for processing Sensitive Personal Information, as defined below, and hereby releases HuddleXR from any claim or liability arising from Customer’s or its users’ transmission of Sensitive Personal Information to or through the Virtual Event Platform. “<b>Sensitive Personal Information</b>” is date of birth, Social Security number, driver’s license number, other government-issued identification number, financial account number, credit or debit card number, insurance ID or account number, health or medical information, consumer reports, background checks, biometric data, digital signatures, any code or password that could be used to gain access to financial resources, any other unique identifier, or other personal data for which special protections are required by applicable privacy law</li>

					  <li class="mb-2"><u>Sub-processors</u>.&nbsp;HuddleXR shall not permit sub-processors to have access to the Customer Information other than those sub-processors approved in advance in writing by Customer. HuddleXR shall require each sub-processor to contractually agree to privacy and security obligations for the protection of Customer Information at least as protective as those stated in these Terms of Service. HuddleXR is responsible for the acts and omissions of sub-processors in violation of these Terms of Service or the SOW to the same extent as for its own acts and omissions.</li>

					   <li class="mb-2"><u>Notice of Data Breach</u>.&nbsp;If HuddleXR discovers a Security Breach, as defined below, it shall notify Customer without undue delay and in all events within seventy-two (72) hours, and provide to Customer all information reasonably available HuddleXR regarding the Security Breach. A “Security Breach” is an unauthorized access, alteration, disclosure, or destruction of User Data. HuddleXR shall promptly take those steps within its reasonable control to address a security vulnerability giving rise to a Security Breach, both to stop an ongoing Security Breach and prevent a re-occurrence due to the same security vulnerability. HuddleXR shall cooperate with Customer’s reasonable requests in connection with the investigation, mitigation and remediation of any Security Breach.</li>


					</ol>
				</div>	

				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">C. <span class="font-weight-bold">Technical Support.</span></h6>
				
					<ol class="pl-5" type="i">
					  <li class="mb-2"><u>Technical Support</u>.&nbsp;HuddleXR shall correct any material failure of the Virtual Event Platform as soon as reasonably practicable following receipt of Customer’s notice describing the failure in reasonable detail; provided that HuddleXR shall have no obligation to correct a failure resulting from Customer’s misuse of the Virtual Event Platform, such as a use other than for its intended purpose or in violation of these Terms of Service or the SOW. If a failure is due to Customer’s error, HuddleXR may discuss anticipated charges to correct the failure with the Customer, and on Customer’s approval, shall correct the failure at the Customer’s expense. Invoices for corrections of Customer’s errors are due ten (10) days from invoice date.</li>

					  <li class="mb-2"><u>Maintenance and Updates</u>.&nbsp;HuddleXR shall provide Customer with bug fixes, patch releases and updates to the Virtual Event Platform that HuddleXR makes available generally to other Customers from time to time in the ordinary course of business. HuddleXR shall not be obligated to provide Customer with (i) modifications, changes, improvements, or upgrades to the Virtual Event Platform that contain material new functions or features, or (ii) add-on modules or modules that are related to, but separate from, the Virtual Event Platform unless a new SOW or written modification made in accordance with Section 10.E (<span class="font-italic">Amendment</span>) is entered into by the parties.</li>			   
					</ol>
				</div>	
			</div>
			
			<div>			
				<h5 class="mb-3 mt-2 pl-2 font-weight-bold">2. Grant of Licenses</h5>

				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">A. <span class="font-weight-bold">Grant of License to Virtual Event Platform.</span></h6>
					<p class="pl-5">
						Subject to the terms, conditions, and restrictions stated in these Terms of Service and the SOW, HuddleXR hereby grants to Customer a non-exclusive license to use the Virtual Event Platform. The license continues for the Term of the SOW, but is automatically terminated by a termination of the SOW prior to expiration. The license is non-transferable except as part of an assignment of an SOW as permitted by these Terms of Service. The license is worldwide, subject to applicable export laws. The license is conditional on Customer’s payment of the Fees. Except for the licenses expressly stated in this Section, HuddleXR retains all right, title and interest in and to the Virtual Event Platform and related rights in intellectual property, including all related patents, patent applications, copyrights, trademarks, service marks, trade names, domain name rights, know-how, and trade secret rights.
					</p>
				</div>	

				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">B. <span class="font-weight-bold">License Restrictions.</span></h6>
					<p class="pl-5">
						Customer shall not, and shall not knowingly allow any third party to: (i) copy, use, or mirror for use all or any part of the Virtual Event Platform on any site or system other than the HuddleXR service environment, (ii) modify, translate, or otherwise create derivative works of the Virtual Event Platform, except customizations of the visual elements templates made by means of the customization features of the Virtual Event Platform and used on the Platform, (iii) disassemble, decompile, reverse engineer, or otherwise attempt to derive the source code of HuddleXR, the Virtual Event Platform or (iv) distribute, sublicense, lease, resell or otherwise transfer rights to the Virtual Event Platform to a third party.
					</p>
				</div>	

				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">C. <span class="font-weight-bold">Trademark(s).</span></h6>
					<p class="pl-5">
						Customer consents to the display of the HuddleXR name and “powered by HuddleXR” inside the Virtual Event Platform during events and agrees that any goodwill arising from the use of HuddleXR’s trademarks inures exclusively to the benefit of HuddleXR.
					</p>
				</div>	
			</div>


			<div>			
				<h5 class="mb-3 mt-2 pl-2 font-weight-bold">3. Fees and Payment Terms</h5>

				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">A. <span class="font-weight-bold">Fees and Payment Terms.</span></h6>
					<p class="pl-5">
						Customer shall pay to HuddleXR the fees stated in the SOW (the “<b>Fees</b>”) at the times stated in the SOW.
					</p>
				</div>	
				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">B. <span class="font-weight-bold">Interest and Suspension of Service.</span></h6>
					<p class="pl-5">
					 If Customer fails to timely pay the Fees HuddleXR may charge late interest on monthly basis and, in addition, may suspend the Virtual Event Platform until the payment is made.
					</p>
				</div>	
				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">C. <span class="font-weight-bold">Taxes.</span></h6>
					<p class="pl-5">
					 Customer shall pay all applicable sales, use, excise, value-added or similar tax, fee or duty levied by the state and central governments on any payment made by Customer to HuddleXR hereunder, except for taxes based upon HuddleXR’s net income.
					</p>
				</div>
			</div>

			<div>			
				<h5 class="mb-3 mt-2 pl-2 font-weight-bold">4. Warranties and Disclaimer</h5>

				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">A. <span class="font-weight-bold">Virtual Event Platform.</span></h6>
					<p class="pl-5">
						HuddleXR warrants that: (i) the Virtual Event Platform will perform materially in compliance with the description of the Virtual Event Platform contained in the SOW and any applicable then- current published documentation, and (ii) HuddleXR will not materially decrease the functionality of the Virtual Event Platform during the Term of an SOW.
					</p>
				</div>	
				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">B. <span class="font-weight-bold">Professional Services.</span></h6>
					<p class="pl-5">
					         HuddleXR warrants that it will perform Professional Services in a professional and workmanlike manner in compliance with all applicable laws.
					</p>
				</div>	
				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">C. <span class="font-weight-bold">DISCLAIMER.</span></h6>
					<p class="pl-5">
					 EXCEPT AS EXPRESSLY STATED IN THIS AGREEMENT, HuddleXR MAKES NO OTHER REPRESENTATION OR WARRANTY OF ANY KIND AND SPECIFICALLY DISCLAIMS ANY OTHER WARRANTY, WHETHER EXPRESS, IMPLIED OR STATUTORY WITH RESPECT TO THE VIRTUAL EVENT PLATFORM, SUCH AS ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR WARRANTY THAT MAY ARISE THROUGH A COURSE OF DEALING. EXCEPT AS EXPRESSLY SET FORTH IN THIS AGREEMENT, HuddleXR ALSO DISCLAIMS ANY EXPRESS OR IMPLIED WARRANTIES THAT (I) THE VIRTUAL EVENT PLATFORM WILL BE SECURE, TIMELY, UNINTERRUPTED OR ERROR-FREE; (II) THE VIRTUAL EVENT PLATFORM WILL MEET CUSTOMER’S REQUIREMENTS; (III) ERRORS OR DEFECTS IN THE VIRTUAL EVENT PLATFORM WILL BE CORRECTED; OR (IV) THE VIRTUAL EVENT PLATFORM WILL BE FREE OF VIRUSES OR OTHER HARMFUL CODE.
					</p>
				</div>
			</div>

			<div>			
				<h5 class="mb-3 mt-2 pl-2 font-weight-bold">5. Confidentiality Obligations</h5>

				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">A. <span class="font-weight-bold">Definition. “Confidential Information” </span></h6>
					<p class="pl-5">
						means materials, information, and technology that a party (as the “disclosing party”) discloses or makes available to the other party (as the “receiving party”) in connection with the business relationship covered by these Terms of Service that is either marked as “confidential” or with a similar notice or that a reasonable business person should reasonably understand to be confidential based on the nature of the information or the circumstances of it disclosure.
					</p>
				</div>	
				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">B. <span class="font-weight-bold">Exceptions. </span></h6>
					<p class="pl-5">
					   Confidential information does not include information that the receiving party can demonstrate (i) is or becomes, through no fault of the receiving party, generally known or available to the public; (ii) was known or possessed by the receiving party before its receipt from the disclosing party; (iii) is disclosed or made available to the receiving party by a third party, without breach of any obligation to the disclosing party that is known to the receiving party; or, (iv) is independently developed by the receiving party, without use of or reference to the Confidential Information of the disclosing party.
					</p>
				</div>	
				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">C. <span class="font-weight-bold">Obligations.</span></h6>
					<p class="pl-5">
					 The receiving party shall not use the disclosing party’s Confidential Information except to provide or use the HuddleXR services or as otherwise expressly authorized by these Terms of Service. The receiving party shall not disclose the receiving party’s Confidential Information to any third party except to permitted sub-processors, or to its attorneys, financial advisors, consultants, and service providers for their use in assisting the disclosing party with its internal business operations, subject to written confidentiality obligations as least as stringent as those stated in this Section. The receiving party is responsible for the acts and omissions in violation of this Section by any third party to whom it discloses the disclosing party’s Confidential Information to the same extent as for its own acts and omissions. HuddleXR will use those measures described in Section 1.B.iii (Security) to protect the Customer Information from unauthorized use and disclosure. Otherwise the receiving party shall use the same degree of care that it uses to protect its own confidential information of like importance, but in no event less than reasonable care.
					</p>
				</div>

				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">D. <span class="font-weight-bold">Compliance with law.</span></h6>
					<p class="pl-5">
					 The receiving party is not in violation of this Section if it discloses the Confidential Information of the disclosing party in response to a subpoena or other compulsory legal process provided that, unless prohibited by law, it promptly notifies the disclosing party and cooperates with the disclosing party’s reasonable requests for assistance, at the disclosing party’s expense, in its efforts to legally quash the subpoena or otherwise avoid or limit the disclosures.
					</p>
				</div>

				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">E. <span class="font-weight-bold">Rights to injunctive and equitable relief.</span></h6>
					<p class="pl-5">
					 Each party acknowledges that the remedies at law for a breach of the obligations under this Section may be inadequate and that a may cause immediate and irreparable damage to the other party. Therefore, each party agrees that in the event of such breach, in addition to all other legal and equitable remedies available to the other party, the other party shall be entitled to seek injunctive relief without the necessity of proving direct damages or posting a bond.
					</p>
				</div>
			</div>

			<div>			
				<h5 class="mb-3 mt-2 pl-2 font-weight-bold">6. Term and Termination.</h5>

				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">A. <span class="font-weight-bold">Term.</span></h6>
					<p class="pl-5">
						The initial term of the SOW is stated in the SOW, or if no initial term is stated is twelve (12) months. On expiration of the initial term, the SOW can be renewed for twelve (12) months by providing thirty (30) day notice prior to expiration of the initial term, or then current renewal term. The initial term and renewal term(s) of the SOW are referred to in these Terms of Service as the “<b>Term</b>.” These Terms of Service remain in effect for so long as the SOW has not expired or been terminated.
					</p>
				</div>	
				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">B. <span class="font-weight-bold">Termination for Breach. </span></h6>
					<p class="pl-5">
					   Either party may terminate the Agreement and all other SOWs between the parties prior to the expiration on written notice if the other party is in material breach of an SOW or these Terms of Service, provided that if the breach is curable the terminating party must first have given the party in breach at least thirty (30) days to cure the breach.
					</p>
				</div>	
				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">C. <span class="font-weight-bold">Termination for Insolvency.</span></h6>
					<p class="pl-5">
					 Either party may terminate the SOW if a receiver is appointed for the other party, an assignee is appointed for the benefit of creditors of the other party, the other party files a bankruptcy petition, has an involuntary bankruptcy petition filed against it, or becomes unable to pay debts as they become due in the ordinary course of business. Any termination under this section shall be automatic, with no further act of either party.
					</p>
				</div>

				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">D. <span class="font-weight-bold">Effect of Termination.</span></h6>
					<p class="pl-5">
					 Upon the expiration or termination of the SOW (i) all the license rights to the Content and Virtual Event Platform terminate; (ii) Fees that have accrued prior to the termination become immediately due and payable; and (iii) each party shall promptly (A) return to the other party all Confidential Information of the other party in its possession or control except as necessary to comply with its customary records retention policies, or (B) destroy the other party’s Confidential Information, and on request of the other party provide a written certification of the destruction, provided, that on Customer’s request made prior to expiration or termination HuddleXR will permit Customer to download any analytics data that was included as part of the Virtual EVvnt Platform for up to thirty (30) days following termination.
					</p>
				</div>

				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">E. <span class="font-weight-bold">Survival.</span></h6>
					<p class="pl-5">
					  In addition to the provisions that expressly or by their nature necessarily survive, the terms and provisions in the following sections shall also survive any expiration or termination of the Agreement: Sections 3 (<span class="font-italic">Fees and Payment Terms</span>) as to fees accrued but unpaid at the time of expiration or termination, 5 (<span class="font-italic
					  ">Confidentiality Obligations</span>), 6 (<span class="font-italic">Term and Termination</span>), 7 (<span class="font-italic">Indemnification</span>) 8 (<span class="font-italic">Limitation of Liability</span>), and 10 (<span class="font-italic">General Provisions</span>).
					</p>
				</div>
			</div>

			<div>			
				<h5 class="mb-3 mt-2 pl-2 font-weight-bold">7. Indemnification</h5>

				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">A. <span class="font-weight-bold">HuddleXR Indemnity.</span></h6>
					<p class="pl-5">
						HuddleXR shall defend any third party claim or action brought against Customer that asserts that the Customer’s use of the Virtual Event Platform as permitted by the Agreement infringes or misappropriates intellectual property rights of a third party recognized in India (under Indian law or treaty) and pay any resulting losses, damages, and expenses (including reasonable attorneys’ fees) that are awarded or assessed against Customer, provided that Customer (a) provides HuddleXR with prompt written notice of such claim or action, (b) tenders to HuddleXR the sole control and authority over the defense and settlement thereof; and (c) cooperates, at HuddleXR’s request and expense, in the defense and settlement thereof.
					</p>
				</div>	
				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">B. <span class="font-weight-bold">Exceptions. </span></h6>
					<p class="pl-5">
					   HuddleXR shall have no obligation or liability to defend or indemnify a third party claim or action under this section to the extent such claim or action results from: (i) the Customer Information, (ii) modification of the Virtual Event Platform by any party other than HuddleXR, or a party authorized by HuddleXR, or combination or use of the Virtual Event Platform with any other software, hardware or other products not provided or authorized by HuddleXR, provided that such claim or action would not have occurred but for such modification, combination or use.
					</p>
				</div>	
				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">C. <span class="font-weight-bold">Injunction, Remedy.</span></h6>
					<p class="pl-5">
					 If Customer’s use of the Virtual Event Platform is enjoined, or in HuddleXR’s opinion is likely to be enjoined, by reason of an infringement or misappropriation of the Virtual Event Platform, HuddleXR may, in its sole discretion: (i) procure, at no cost to Customer, the right for Customer to continue using the Virtual Event Platform free from the threatened injunction; (ii) replace or modify the Virtual Event Platform to render it non-infringing, provided the replaced or modified Virtual Event Platform performs substantially in the same manner as the Virtual Event Platform in its original form; or (iii) if neither (i) nor (ii) above is commercially feasible, terminate the Agreement and refund any amount Customer pre-paid for the Virtual Event Platform and the Professional Services but did not use as a result of the termination. HuddleXR obligations under this Section 9 are its sole and exclusive obligations for third-party claims of intellectual property infringement or misappropriation.
					</p>
				</div>

				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">D. <span class="font-weight-bold">Customer Indemnity.</span></h6>
					<p class="pl-5">
					 Customer shall defend any third party claim or action (i) asserting that HuddleXR’ use of the Customer Information as permitted by this Agreement infringes, misappropriates or violates intellectual property rights or rights of publicity or privacy of a third party or violates any law, statute, or ordinance, and (ii) brought against HuddleXR arising from: (A) Customer’s breach of the SOW or these Terms of Service or Customer’s user’s breach of the HuddleXR terms of use, or (B) Customer’s negligence or willful misconduct in connection with the use of the Virtual Event Platform, including without limitation any misrepresentations made by Customer to a third party regarding the Virtual Event Platform, and shall pay any resulting losses, damages, and expenses (including reasonable attorneys’ fees) awarded or assessed against HuddleXR; provided that HuddleXR (a) provides Customer with prompt written notice of such claim, breach or action; (b) tenders to Customer the sole control and authority over the defense and settlement thereof; and (c) cooperates, at Customer’s expense, in the defense and settlement thereof.
					</p>
				</div>
			</div>

			<div>			
				<h5 class="mb-3 mt-2 pl-2 font-weight-bold">8. Limitation of Liability</h5>

				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">A. <span class="font-weight-bold">LIMITATION ON LIABILITY.</span></h6>
					<p class="pl-5">
						EXCEPT FOR LIABILITY RESULTING FROM BREACH OF SECTION 5 (<span class="font-italic">CONFIDENTIALITY OBLIGATIONS</span>) AND THE INDEMNIFICATION OBIGATIONS OF THE PARTIES UNDER SECTION 7 (<span class="font-italic">INDEMNIFICATION</span>), NEITHER PARTY SHALL BE LIABLE TO THE OTHER PARTY FOR ANY SPECIAL, INDIRECT, INCIDENTAL OR CONSEQUENTIAL DAMAGES OR DAMAGES FOR LOSS OF REVENUE, PROFITS, BUSINESS OPPORTUNITIES, DATA OR INFORMATION; FOR COSTS OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES ARISING UNDER OR IN CONNECTION WITH THIS AGREEMENT, HOWEVER CAUSED AND UNDER ANY LEGAL THEORY OF LIABILITY (INCLUDING STRICT LIABILITY, CONTRACT, NEGLIGENCE OR OTHER TORT, AND EVEN IF A PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGE AND NOTWITHSTANDING ANY FAILURE OF ESSENTIAL PURPOSE OF ANY REMEDY SET FORTH IN THIS AGREEMENT.
					</p>
				</div>	
				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">B. <span class="font-weight-bold">LIABILITY CAP. </span></h6>
					<p class="pl-5">
					  EXCEPT FOR THE INDEMNIFICATION OBLIGATIONS OF THE PARTIES UNDER SECTION 7 (<span class="font-italic">INDEMNIFICATION</span>), EACH PARTY’S TOTAL LIABILITY ARISING UNDER OR IN CONNECTION WITH THIS AGREEMENT, REGARDLESS OF THE FORM OF ACTION, SHALL BE LIMITED TO THE TOTAL PAYMENTS RECEIVED FROM CUSTOMER OR PAYABLE BY CUSTOMER PURSUANT TO THIS AGREEMENT DURING THE TWELVE (12) MONTHS PRIOR TO THE EVENT GIVING RISE TO SUCH LIABILITY, PLUS ANY SUM AWARDED PURSUANT TO THE SUB-SECTION 10.K. PERTAINING TO ATTORNEYS’ FEES.
					</p>
				</div>	
				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">C. <span class="font-weight-bold">GENERAL.</span></h6>
					<p class="pl-5">
					 NOTWITHSTANDING ANYTHING TO THE CONTRARY IN THIS SECTION OR OTHER PART OF THE AGREEMENT, NOTHING IN THIS SECTION OR OTHER PART OF THE AGREEMENT LIMITS OR EXCLUDES EITHER PARTY’S LIABILITY FOR WILLFUL MISCONDUCT, INFRINGEMENT OR MISAPPROPRIATION OF THE OTHER PARTY’S INTELLECTUAL PROPERTY RIGHTS, OR CLAIMS FOR WHICH DAMAGES MAY NOT BE EXCLUDED OR LIMITED UNDER APPLICABLE LAW.
					</p>
				</div>
			</div>

			<div>			
				<h5 class="mb-3 mt-2 pl-2 font-weight-bold">9. Service Level Agreement</h5>

				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">A. <span class="font-weight-bold">Service Availability.</span></h6>
					<p class="pl-5">
						Subject to the terms of this Service Level Agreement (“SLA”), the Virtual Event Platform shall be available for access and use by registered users 99.9% of the time in any given calendar month. The service availability shall be calculated by excluding (i) scheduled maintenance; (ii) emergency maintenance requested by Customer that must by its nature only be conducted outside the scheduled maintenance window; (iii) downtime caused by any act or omission by Customer or its users in breach of this Agreement or the Terms Of Use; a failure or malfunction resulting from equipment or services provided by Customer, and (iv) circumstances beyond HuddleXR’s reasonable control, including the failure of third party applications required by Customer (e.g. Webcasts, live streaming audio or video, webinars, etc.), or delay, interruption or failure of telecommunication or Internet transmission.
					</p>
				</div>	
				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">B. <span class="font-weight-bold">Service Credits. </span></h6>
					<p class="pl-5">
					  If HuddleXR fails to meet the SLA during any calendar month, it shall credit to Customer a percentage of the service fee for the Virtual Event Platform covering that month in accordance with the following schedule:
					</p>
					<p class="pl-5 mb-0">
					 Service Level&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Credit Amount
					</p>
					<p class="pl-5 mb-0">
					  99.7% to 99.9%&nbsp;&nbsp;&nbsp;	1.0% of service fee
					</p>
					<p class="pl-5 mb-0">
					  99.5% to 99.7%&nbsp;&nbsp;&nbsp;	2.0% of service fee
					</p>
					<p class="pl-5">
					  Below 99.5%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.0% of service fee
					</p>
					<p class="pl-5">
					  The service fee covering the month in which the SLA failure occurred shall be determined by pro-rating the fee paid for then-current initial or renewal term based on the number of months included in the then-current initial or renewal term.
					</p>

				</div>	
				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">C. <span class="font-weight-bold">SLA Claim Process.</span></h6>
					<p class="pl-5">
					 In order to receive a credit, Customer must make a written request that includes the dates and times of the unavailability of the Virtual Event Platform, a description of the alleged problem. Such written request must be received by HuddleXR within thirty (30) days after the end of the month in which the unavailability of the Virtual Event Platform occurred. If HuddleXR verifies that the service availability requirement was not met, acredit will be issued within thirty (30) days of HuddleXR’s receipt of the credit request.
					</p>
				</div>
			</div>

			<div>			
				<h5 class="mb-3 mt-2 pl-2 font-weight-bold">10. General Provisions</h5>

				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">A. <span class="font-weight-bold">Relationship of the Parties.</span></h6>
					<p class="pl-5">
						The relationship of the parties established by this Agreement is solely that of independent contractors. Neither party is an agent or legal representative of the other party for any purpose. Neither party is granted any right or authority to assume or to create any obligation or responsibility, express or implied, on behalf of or in the name of the other party.
					</p>
				</div>	
				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">B. <span class="font-weight-bold">Assignment. </span></h6>
					<p class="pl-5">
					  Neither this Agreement nor any interest hereunder will be assignable in part or in whole by either party without the prior written consent of the other party, which consent shall not be unreasonably withheld. Notwithstanding the foregoing, however, each party shall be permitted to assign this Agreement, without the other party’s prior written consent, to any entity that succeeds to the assigning party by way of a merger, consolidation, reorganization or sale of all or substantially all of that portion of its business to which this Agreement relates, provided that in connection with any such assignment, (i) assignor gives written notice of such assignment to the non-assigning party and (ii) the assignee agrees in writing to be bound to all of the terms and conditions of this Agreement. This Agreement will be binding upon the successors and permitted assigns of the parties and the name of a party appearing herein will be deemed to include the names of such party’s successors and permitted assigns to the extent necessary to carry out the intent of this Agreement. Any assignment which is not in accordance with this section will be null and void.
					</p>
				
				</div>	
				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">C. <span class="font-weight-bold">Governing Law, Jurisdiction and Venue.</span></h6>
					<p class="pl-5">
					 The validity, interpretation, construction, and performance of this Agreement shall be governed by the laws of India, excluding its conflict of laws principles. The parties hereby consent to: (a) the exclusive jurisdiction and venue of such courts and (b) waive any objection to that choice of forum based on personal jurisdiction, venue or to the effect that forum is not convenient.
					</p>
				</div>
				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">D. <span class="font-weight-bold">Notice.</span></h6>
					<p class="pl-5">
					 Any notice to be given under this Agreement will be in writing and addressed to the party at the address stated in the SOW. Notices will be deemed given and effective (i) if personally delivered, upon delivery; (ii) if sent by an overnight service with tracking capabilities, upon receipt; (iii) if sent by fax or electronic mail, at such time as the party which sent the notice receives confirmation of receipt by the applicable method of transmittal; or (iv) if sent by certified or registered mail, within five days of deposit in the mail addressed to the other party’s address stated herein or other last known address.
					</p>
				</div>
				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">E. <span class="font-weight-bold">Amendment.</span></h6>
					<p class="pl-5">
					 No amendment, modification or supplement of any provision of this Agreement will be valid or effective unless made in writing and signed by an authorized officer of each party.
					</p>
				</div>
				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">F. <span class="font-weight-bold">Interpretations.</span></h6>
					<p class="pl-5">
					 The term “including” should be read to mean “including, without limitation.” Any use of the words “sell,” “buy,” or “purchase” as applied to the Virtual Event Platform refer to the purchase or sale of a license. This Agreement is not intended and shall not grant or convey any license or right, by implication or estoppel.
					</p>
				</div>
				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">G. <span class="font-weight-bold">Waiver.</span></h6>
					<p class="pl-5">
					 No provision of the Agreement will be waived by any act, omission or knowledge of a party or its agents or employees except by an instrument in writing expressly waiving such provision and signed by an authorized officer of the waiving party. The failure of any party to enforce any of the provisions hereof shall not be construed to be a waiver of the right of such party thereafter to enforce such provisions.
					</p>
				</div>
				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">H. <span class="font-weight-bold">Severability.</span></h6>
					<p class="pl-5">
					 Whenever possible, each provision of the Agreement will be interpreted in such manner as to be effective and valid under applicable law, but if any provision of the Agreement is held to be prohibited by or invalid under applicable law, such provision will be ineffective only to the extent of such prohibition or invalidity, without invalidating the remainder of the Agreement.
					</p>
				</div>
				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">I. <span class="font-weight-bold">Headings.</span></h6>
					<p class="pl-5">
					 The section headings appearing in this Agreement are inserted only as a matter of convenience and in no way define, limit, construe or describe the scope or intent of any such section nor in any way affect this Agreement.
					</p>
				</div>
				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">J. <span class="font-weight-bold">Entire Agreement of the Parties.</span></h6>
					<p class="pl-5">
					This Agreement, including the SOW and any exhibits, will constitute and contain the entire and exclusive understanding and Agreement of the parties with respect to the subject matter hereof and cancels and supersedes any and all prior and contemporaneous negotiations, correspondence, representations, understandings and agreements, whether oral or written, between the parties hereto with respect to the subject matter hereof.
					</p>
				</div>
				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">K. <span class="font-weight-bold">Attorneys’ Fees.</span></h6>
					<p class="pl-5">
					In the event suit is commenced to enforce any provision of this Agreement, the substantially prevailing party shall be entitled to recover its reasonable attorneys’ fees and costs incurred in connection therewith.
					</p>
				</div>
				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">L. <span class="font-weight-bold">Force Majeure.</span></h6>
					<p class="pl-5">
					Any delay in the performance of any duties or obligations of either party (except the payment of money owed) will not be considered a breach of this Agreement if such delay is caused by a labor dispute, shortage of materials, fire, earthquake, flood, or any other event beyond such party’s reasonable control, provided that such party uses reasonable efforts, to notify the other party of the circumstances causing the delay and to resume performance as soon as possible.
					</p>
				</div>
				<div class="mb-3 mt-1 pl-3">
					<h6 class="pl-2">M. <span class="font-weight-bold">Cumulative Remedies.</span></h6>
					<p class="pl-5">
					Any and all rights and remedies of a party upon the other party’s breach of or default under this Agreement (whether expressly conferred by this Agreement or otherwise) shall be deemed cumulative with and not exclusive of any other right or remedy conferred by this Agreement or by law or in equity on such party, and the exercise of any one remedy shall not preclude the exercise of any other.
					</p>
				</div>
			</div>

		</div>
	</div>	
</div>
