<div class="container pt-5 pb-3">
	<div class="row">
		<div class="col-12">
			<div>
				<h4 class="mb-3 headingColor font-weight-bold">HuddleXR Privacy Policy Update</h4>
				<p class="mb-4">
					We have updated our privacy policy and have added new ways for you to control the personal information you share with Huddle<sup>XR</sup>. Following the new data protection regulations in the European Union, we took the opportunity to make improvements for all of our Huddle<sup>XR</sup> users globally. 
				</p>
			</div>
			
			<div>
				<h4 class="mb-3 headingColor font-weight-bold">Privacy policy</h4>
				<p class="mb-4">
					Huddle<sup>XR</sup> (“Huddle<sup>XR</sup>”, “We” or “Our”) has drafted its Privacy Policy to ensure that you can clearly understand our data and security practices and policies as you use Huddle<sup>XR</sup> Platform (the “Sites”). This Privacy Policy describes the types of information we collect, how we use the information, with whom we share it, and the choices you can make about our collection, use, and disclosure of your information.
				</p>
				<p class="mb-4">
					We also describe the measures we take to protect the security of your Personal Information and how you can contact us about our privacy practices. This Privacy Policy incorporates by reference the <b><a href="./terms-service">Terms of Use </a></b>for the Sites, which apply to this Privacy Policy. When you visit the Sites or provide us with information, you consent to our use and disclosure of the information we collect or receive as described in this Privacy Policy and you agree to be bound by the terms and conditions of the policy. Please review this Privacy Policy periodically as we may update it from time to time to reflect changes in our data practices. You can also read the <b><a href="./data-policy">Data Controller </a></b>policy here.
				</p>
			</div>
			<div>
				<h6 class="mb-3 pt-3 font-italic font-weight-bold">THE INFORMATION WE COLLECT</h6>
				<p class="mb-4">
					We may obtain information about you from various sources, including our Sites, when you call or email us or communicate with us through social media, or when you participate in an Event. An “Event” is an online gathering that includes registration before the event begins, activities between the event’s start and end time, and after the event’s end time. We also may obtain information about you from business partners and other third parties and publicly available information.
				</p>
				<p>The types of information we may obtain include:</p>
				<ul>
				  <li class="mb-2"><b>Personal Information,</b> which is information that identifies you, such as your name, password, email address, address, company name, phone number(s), and photographic image.</li>

				  <li class="mb-2"><b>Demographic Information,</b> such as zip code, country, years of work experience, skills, industry, certifications, degrees, etc. We do this to help you connect with other event participants like exhibitors.</li>

				  <li class="mb-2"><b>Preference Information,</b> such as meeting requests, shortlisting products, content download or whether to show a dialog on your next visit. We do this to personalize your experience on the Sites.</li>

				  <li class="mb-2"><b>Anonymous information,</b> such as pages visited, and time on the Sites. We do this in order to understand how the Sites are being used and what the engagement is like.</li>
				</ul>
				<p>
					We collect information stored in your social media profile that you authorize us to access when you use your social media profile to execute features on the Sites, such as the ability to log into the Sites using your social media profile credentials.
				</p>
				<p>
					In addition, when you visit our Sites, we may collect certain information by automated means, such as cookies and web beacons, as described in more detail below. The information we may collect by automated means includes:
				</p>
				<ul>
				  <li class="mb-2">Information about the devices our visitors use to access the Internet (such as the IP address and the device, browser and operating system type).</li>

				  <li class="mb-2">Pages and URLs that refer visitors to our Sites, also pages and URLs that visitors exit to once they leave our Sites.</li>

				  <li class="mb-2">Dates and times of visits to our Sites.</li>

				  <li class="mb-2">Information on actions taken on our Sites (such as page views, site navigation patterns or application activity).</li>

				  <li class="mb-2">A general geographic location (such as country and city) from which a visitor accesses our Sites.</li>

				  <li class="mb-2">Search terms that visitors use to reach our Sites.</li>
				</ul>
			</div>
			<div>
				<h6 class="mb-3 pt-3 font-italic font-weight-bold">HOW WE USE THE INFORMATION WE COLLECT</h6>
				
				<p>We may use the information we obtain about you to:</p>
				<ul>
				  <li class="mb-2">Create, manage and maintain your account on the Sites.</li>

				  <li class="mb-2">Provide you with services that you request.</li>

				  <li class="mb-2">Manage your participation in events hosted on the Sites, where you have signed up for such events and promotions.</li>

				  <li class="mb-2">Maintain a record of the events in which you participate, including chat and webinar history and download activity.</li>

				  <li class="mb-2">Enable you to interact with other event participants.</li>

				  <li class="mb-2">Provide administrative notices or communications applicable to your use of the Sites.</li>

				  <li class="mb-2">Respond to your questions and comments and provide customer support.</li>

				  <li class="mb-2">Operate, evaluate and improve our business and the products and services we offer.</li>

				  <li class="mb-2">Analyze and enhance our marketing communications and strategies (including by identifying when emails we have sent to you have been received and read).</li>

				  <li class="mb-2">Analyze trends and statistics regarding visitors’ use of our Sites, mobile applications and social media assets, and the jobs viewed or applied to on our Sites.</li>

				  <li class="mb-2">Notify you from time to time about relevant products and services operated by Huddle<sup>XR</sup></li>

				  <li class="mb-2">Enforce our Sites’ Terms of Use.</li>

				  <li class="mb-2">Comply with applicable legal requirements and industry standards and our policies.</li>

				</ul>
				<p>We also use non-personally identifiable information and certain technical information about your computer and your access to the Sites (including your internet protocol address) in order to operate, maintain and manage the Sites. We collect this information by automated means, such as cookies and web beacons, as described in more detail below.</p>
				<p>We may collect, compile, store, publish, promote, report, share or otherwise disclose or use any and all Aggregated Information, however, unless otherwise disclosed in this policy, we will not sell or otherwise transfer or disclose your Personal Information to a third party without your consent. If we seek to use the information we obtain about you in other ways, we will provide specific notice and request your consent at the time of collection.</p>
			</div>
			<div>
				<h6 class="mb-3 pt-3 font-italic font-weight-bold">THE INFORMATION WE SHARE</h6>
				
				<p>When you create an account on the Sites, Huddle<sup>XR</sup> will collect and retain information about you, some of which is Personal Information. You may be required to provide additional personal or demographic information when registering for an Event hosted on the Sites including, but not limited to, photo, resume, work experience, educational qualification, location, skills, industry.</p>
				
				<p>The information you provide is collected by Huddle<sup>XR</sup>, and is shared with the company(ies) participating in the Event. This includes personal information such as name, email address, resume and other questions you answer during the registration process. This also includes the conversation (chat) history from conversations with any other participant and/or organization. If providing information for an Event, this information may become subject to the policies of the respective Company(ies) after it has been shared, as HuddleXR is not responsible for these policies. Providing additional information beyond what is required at registration is entirely optional, but enables you to better identify yourself.</p>

				<p>We may share your Personal Information with third party contractors or service providers to provide you with the services that we offer you through our Sites; to provide technical support, or to provide specific services in accordance with your instructions. These third parties are required not to use your Personal Information other than to provide the services requested by Huddle<sup>XR</sup>.</p>
				<p>We may also disclose specific user information when we determine, in good faith, that such disclosure is necessary to comply with the law, to cooperate with or seek assistance from law enforcement, to prevent a crime or protect national security, or to protect the interests or safety of Huddle<sup>XR</sup> or other users of the Sites.</p>
				<p>You should be aware that any Personal Information you submit on the Sites may be read, collected, or used by other users of Huddle<sup>XR</sup>, and could be used to send you unsolicited messages. In addition, any personal information you submit in an Event can be read, collected, or used by participating companies, and could be used to send you unsolicited messages. We are not responsible for the Personal Information you choose to submit to the Sites.</p>
			</div>

			<div>
				<h6 class="mb-3 pt-3 font-italic font-weight-bold">HOW WE PROTECT PERSONAL INFORMATION</h6>
				
				<p>Huddle<sup>XR</sup> maintains administrative, technical and physical safeguards designed to assist us in protecting the Personal Information we collect against accidental, unlawful or unauthorized destruction, loss, alteration, access, disclosure or use.</p>
				
				<p>Please note that no electronic transmission of information can be entirely secure. We cannot guarantee that the security measures we have in place to safeguard Personal Information will never be defeated or fail, or that those measures will always be sufficient or effective. Therefore, although we are committed to protecting your privacy, we do not promise, and you should not expect, that your Personal Information will always remain private. As a user of the Sites, you understand and agree that you assume all responsibility and risk for your use of the Sites, the internet generally, and the documents you post or access and for your conduct on and off the Sites.</p>

				<p>To further protect yourself, you should safeguard your Huddle<sup>XR</sup> Sites username and password and not share that information with anyone. You should also log off from and close your browser window when you have finished your visit to our Sites. Please note that we will never ask for your Huddle<sup>XR</sup> account password via email.</p>
				
			</div>

			<div>
				<h6 class="mb-3 pt-3 font-italic font-weight-bold">HOW TO UPDATE YOUR PERSONAL INFORMATION</h6>
				
				<p>You may access, update and amend Personal Information included in your online account during the event at any time by logging into your account and making the necessary changes.</p>
				
				<p>You may choose to deactivate your account at any time by emailing us at info@huddlexr.com. When we deactivate your account, you will be logged out of Huddle<sup>XR</sup> and you will no longer be able to log into HuddleXR to view the events you attended or the chats you had with other participants. Furthermore, we will only delete registrations you have started or completed for upcoming events. We will not delete information you provided when registering for or participating in a concluded event as this information has already been shared with other participants that you engaged in a chat or message board conversation.</p>			
			</div>

			<div>
				<h6 class="mb-3 pt-3 font-italic font-weight-bold">ABOUT COOKIES, TRACKING CHOICES, AND THIRD PARTY SERVICE PROVIDERS</h6>
				
				<p>A “cookie” is a text file that websites send to a visitor’s computer or other Internet-connected devices to uniquely identify the visitor’s browser or to store information or settings in the browser. A “web beacon” is also called a Web bug or a pixel tag or a clear GIF. Used in combination with cookies, a web beacon is an often-transparent graphic image, usually no larger than 1-pixel x 1-pixel, that is placed on a Web site or in an e-mail that is used to monitor the behavior of the user visiting the Website or sending the e-mail.</p>
				
				<p>Huddle<sup>XR</sup> uses cookies and other similar technologies for the convenience of our users. Cookies enable us to serve secure pages to our users without asking them to sign in repeatedly. Huddle<sup>XR</sup> also uses cookies to store non-personally identifying information such as your preferences. Huddle<sup>XR</sup> also uses cookies to ensure the proper functioning and efficiency of our Sites.</p>

				<p>Most Internet browsers enable you to erase cookies from your computer hard drive, block all cookies, or receive a warning before a cookie is stored. Please be aware, that our Sites cannot be used without cookies enabled. Our Sites also do not respond to web browser “do not track” requests.</p>

				<p>Huddle<sup>XR</sup> permits third-party cookies on its Sites. For example, third-party services located on the Sites, including those that allow for single sign-on, commenting, live chat and social media sharing, may use cookies to remember user preference settings and interaction history. Huddle<sup>XR</sup>.com makes use of a third party live chat tool called Drift which uses cookies to remember customer support and sales chat sessions and prior interaction with the potential customer.</p>		

				<p>Huddle<sup>XR</sup> also uses web analytics services provided by third parties namely Google Analytics and Hotjar, which use cookies to collect non-personal information about details of our users’ visits to the Sites (including IP addresses) and the resources they access on the Sites. These third party web analytics services provide us with reports based on this information in order to help us understand how users engage with the Sites.</p>	

				<p>Huddle<sup>XR</sup>.com (but not all Sites) also uses 3rd party vendor remarketing tracking cookies, including the Google Adwords tracking cookie. This means we will continue to show ads to you across the internet, specifically on the Google Content Network (GCN). As always we respect your privacy and are not collecting any identifiable information through the use of Google’s or any other 3rd party remarketing system.</p>	

				<p>The third-party vendors, including Google, whose services we use – will place cookies on web browsers in order to serve ads based on past visits to our website. – Third-party vendors, including Google, use cookies to serve ads based on a user’s prior visits to your website. This allows us to make special offers and continue to market our services to those who have shown interest in our service.</p>	

				<p>The companies that provide third-party tools and services such as commenting operate under their own privacy policies and Huddle<sup>XR</sup> encourages you to be aware of the privacy policies of such companies. Huddle<sup>XR</sup> does not have control over or access to any information contained in the cookies that are set on your computer by third-party tool providers.</p>	

				<p>There are many resources on the Internet that can provide you guidance regarding deleting or disabling cookies.</p>

			</div>

			<div>
				<h6 class="mb-3 pt-3 font-italic font-weight-bold">LINKS TO OTHER SITES</h6>
				
				<p>Content on our Sites may contain links to other sites that are not owned or controlled by Huddle<sup>XR</sup>. Please be aware that we are not responsible for the privacy practices of such other sites. We encourage you to be aware when you leave our Sites and to read the privacy statements of each and every website that collects Personal Information. This Privacy Policy applies only to information collected on Huddle<sup>XR</sup>.</p>			
			</div>

			<div>
				<h6 class="mb-3 pt-3 font-italic font-weight-bold">DISPUTES</h6>
				
				<p>If you believe that we have not adhered to the Privacy Policy, please contact us by e-mail at info@huddlexr.com. We will do our best to address your concerns. If you feel that your complaint has been addressed incompletely, we invite you to let us know for further investigation.</p>			
			</div>

			<div>
				<h6 class="mb-3 pt-3 font-italic font-weight-bold">CHILDREN’S PRIVACY</h6>
				
				<p>We do not intentionally gather Personal Information about users who are under the age of 18. If you are under the age of 18, you are not authorized to use the Sites.</p>			
			</div>

			<div>
				<h6 class="mb-3 pt-3 font-italic font-weight-bold">GENERAL DATA PROTECTION REGULATION (GDPR)</h6>
				
				<p>Huddle<sup>XR</sup>s will comply with all applicable data protection and privacy laws & regulations in the performance of its obligations under the General Data Protection Regulation (“GDPR”, from the GDPR implementation date) or, until GDPR implementation date, the Data Protection Act 1998 (“Data Protection Laws”).</p>			
			</div>

			<div>
				<h6 class="mb-3 pt-3 font-italic font-weight-bold">PRIVACY POLICY UPDATES</h6>
				
				<p>If we decide to make material changes to our Privacy Policy, we will notify you by prominently posting notice of the changes on the Site and updating the date at the top of the Privacy Policy. Therefore, we encourage you to check the date of our Privacy Policy whenever you visit the website for any updates or changes.</p>	

				<p>We understand that changes to this Privacy Policy may affect your decision to use our Sites. You have the option to deactivate your account for any reason. Continued use of our Sites and their services following notice of such changes shall indicate your acknowledgment of such changes and agreement to be bound by the terms and conditions of such changes.</p>	
			</div>

			<div>
				<h6 class="mb-3 pt-3 font-weight-bold">HOW TO CONTACT US</h6>
				
				<p>If you have any questions or comments about this Privacy Policy or our use of your personally identifiable information, please contact us at <a href="mailto:info@huddlexr.com">info@huddlexr.com.</a></p>	

				<p class="pl-2">Address: Eldew Digital Pvt Ltd</p>	
				<p class="pl-2">529/3, Kudale, Chandranil CHS, Panmala, Pune 411030 </p>
			</div>
		</div>
	</div>	
</div>
