<div class="container pt-5 pb-3">
	<div class="row">
		<div class="col-12">
			<h4 class="mb-2 headingColor font-weight-bold">Privacy Policy | Data Controller</h4>
			<div class="pl-2">
				<p>Last updated: October 21, 2020</p>

				<div>
					<h6 class="mb-3 pt-2 font-weight-bold">HuddleXR Privacy Policy- Data Controller</h6>
					<p>HuddleXR (“HuddleXR”, “we”, “us” or “our”) is committed to protecting your privacy, as well as our clients and prospective clients (the “Client/s”), and other users of the HuddleXR platform (the “Platform”) and services, and we want to ensure that you have a positive experience when you use our Virtual Event Platform (the “Platform”), interact with us on social media, or attend a Virtual event online.</p>
					<p>When we collect information that relates to an identified or identifiable individual (the “Personal Data” or “Personal Information”), we may be doing so one of two ways, (i) on our own behalf (in which case we will be considered a “controller” of your data), and (ii) your personal information, also referred to as the “Platform Content” may be collected on behalf of a Client who is using the Services through HuddleXR’s Virtual Event Platform, which includes services related to our Webinars, Virtual Environments, Channels, and Portals (collectively, the “Platform”) to organize an event and manage other event-related activities (in which case, the Client will be the “controller” and HuddleXR will be considered a “processor” of your Personal Information/Platform Content). The Personal Information we collect and how we use it varies depending upon the nature of our relationship, and whether HuddleXR is the data controller or data processor.</p>
				</div>

				<div>
					<h6 class="mb-3 pt-2 font-weight-bold">Controller and Responsible Party under GDPR</h6>
					<p>For the purposes of the EU General Data Protection Regulation (the “<b>GDPR</b>”) and other relevant applicable laws HuddleXR is the controller of your personal information collected pursuant to this Policy. With respect to any Platform Data, our Clients are the data controllers or businesses for their respective Platform Data, and we are a data processor or service provider, as defined under applicable privacy laws.</p>
					<p>If you are invited to, register for, check into, or receive information regarding a Client event through a Client Site or Service, you will be considered an “Event Attendee” and we will provide any Personal Information you submit through the Site or Service to the Client organizing that event via the Event Attendees, participants and other end users of the Platform and/or Client events the “Platform Data”. HuddleXR does not control the Client’s event registration or management process or determine the Platform Content that a Client requests from Event Attendees. When HuddleXR collects, submits, manages, creates, or records Platform Data via the Platform, or the Personal Information HuddleXR collects, accesses, stores, uses or otherwise processes (collectively, “process”) in order to provide our Services to Clients; we will only Process such Platform Data on behalf of the particular Client in order to provide our Services to that Client. As a processor, our collection, use, disclosure and other processing of Platform Data on behalf of Clients is subject to the privacy policy of our respective Clients. As set out in the Privacy Policy, HuddleXR is a processor of the Platform Data; we only use the personal information that we Process as part of the Platform Data subject to our agreements with Clients and their written instructions, or where otherwise required by law.</p>
				</div>

				<div>
					<h6 class="mb-3 pt-2 font-italic font-weight-bold">Categories of Personal Information Collected</h6>
					<p>HuddleXR collects, or may collect, if requested by a Client, the following types of Personal Information:</p>

					<ul class="pl-5">
					  <li class="mb-2"><u>Identifiers</u>:&nbsp;includes direct identifiers, such as name, account name, username, phone number, mailing address, email address, online identifier, Internet Protocol (“IP”) address, or other similar identifiers.</li>

					  <li class="mb-2"><u>Customer Records</u>:&nbsp;includes Personal Information, such as name, signature, contact information, and payment information, that individuals provide us to purchase or obtain our Services.</li>

					  <li class="mb-2"><u>Commercial Information</u>:&nbsp;includes records, or Services purchased, obtained or considered, or other purchasing or use histories.</li>

					  <li class="mb-2"><u>Usage Data</u>:&nbsp;includes browsing history, clickstream data, search history, access logs and other usage data and information regarding an individual’s interaction with our Site and Services, and our marketing emails and online ads.</li>

					  <li class="mb-2"><u>Audio, Video and Electronic Data</u>:&nbsp;includes audio, electronic, visual, or similar information, and call recordings.</li>

					  <li class="mb-2"><u>Professional Information</u>:&nbsp;includes professional and employment-related information, such as current and former employer(s) and position(s) and business contact information.</li>

			         <li class="mb-2"><u>Protected Classifications</u>:&nbsp;includes characteristics of protected classifications under applicable laws, such as disability information and medical conditions provided by you when you register for events and other activities.</li>

			         <li class="mb-2"><u>Inferences</u>:&nbsp;includes inferences drawn from other Personal Information that we collect to create a profile reflecting an individual user’ preferences, behavior or other characteristics. For example, we may analyze Personal Information in order to identify the offers and information that may be most relevant to our Clients, so that we can better reach them with relevant ads and offers.</li>
					</ul>
				</div>

				<div>
					<h6 class="mb-3 pt-2 font-italic font-weight-bold">Use of Personal Information</h6>
					<p>In general, HuddleXR may use and disclose the Personal Information we collect for the following business and commercial purposes:</p>

					<ul class="pl-5">
					  <li class="mb-2">Operating Platform and Services and providing related support</li>

					  <li class="mb-2">Responding to user and Client inquiries and fulfilling requests</li>

					  <li class="mb-2">Analyzing and improving the Platform, our Services, and our business</li>

					  <li class="mb-2">To provide you with technical and administrative information relating to our Platform and Services, such as security notices, Service-related status reports, and changes to our policies or Terms of Use. Please note that these communications are considered part of our Services and you may not opt out of them.</li>

					  <li class="mb-2">Personalizing user experiences</li>

					  <li class="mb-2">To send you updates, newsletters and other content that you have requested or subscribed to, as well as informational materials regarding our Services.</li>

			         <li class="mb-2">If you have consented, and it is in compliance with applicable laws, we may send you marketing communications regarding products and services that we believe may be of interest to you. If you later decide that you no longer want to receive this type of promotional information, you may opt-out at any time by clicking the “Unsubscribe” button at the bottom of the marketing communication or contacting us at the email or mailing address provided in the “Contact Information” section of this Privacy Policy.</li>

			         <li class="mb-2">Protecting our legal rights and preventing misuse</li>
			         <li class="mb-2">Complying with legal obligations</li>
			         <li class="mb-2">Related to our general business operations</li>
					</ul>
				</div>

				<div>
					<h6 class="mb-3 pt-2 font-weight-bold">Personal Information Not Required-Limited Use</h6>
					<p>The Personal Information that HuddleXR collects and processes will vary depending upon the circumstances. If you choose not to disclose certain Personal Information that are not mandatory, you can still visit our Platform, but you may not be able to access certain options and services, and we may be unable to fully respond to your inquiries.</p>
				</div>

				<div>
					<h6 class="mb-3 pt-2 font-italic font-weight-bold">Personal Information Collected <u>Directly</u>.</h6>
					<p>We may collect personal information about you directly from you or from the Client. For example, when you fill out a ‘Contact Us’ form, signup for our mailing lists, or register for events we host or sponsor, or otherwise provide us information through the Site, we may collect Personal Information such as:</p>

					<ul class="pl-5">
					  <li class="mb-2">Name, company name, and title/position</li>

					  <li class="mb-2">Email address, phone number, mailing address and contact details</li>

					  <li class="mb-2">Job title, other company information (such as country and industry sector)</li>

					  <li class="mb-2">Contact preferences and interests</li>

					  <li class="mb-2">Business affiliations</li>

					  <li class="mb-2">Customer (and authorized user) account information (to access various parts of the Platform, and to create events and webinars) – name, email address, telephone number, company name, and other information necessary to confirm that you are an authorized user of a Client (where relevant)</li>

					  <li class="mb-2">Other information related to your request or inquiry</li>

					</ul>
				</div>

				<div>
					<h6 class="mb-3 pt-2 font-italic font-weight-bold">Personal Information Collected <u>Indirectly</u>.</h6>
				</div>

				<div>
					<h6 class="mb-3 pt-2 font-italic font-weight-bold">Automatically-Collected Personal Information</h6>
					<p>We use cookies, log files, pixel tags, local storage objects, and other tracking technologies to automatically collect information when users access or use the services or visit the Site, such as IP address, general location information, domain name, page views, a date/time stamp, browser type, device type, device ID, Internet service provider, referring/exit URLs, operating system, language, clickstream data, and other information about the links clicked, features used, size of files uploaded, streamed or deleted, and similar device and usage information. </p>

				</div>

				<div>
					<h6 class="mb-3 pt-2 font-italic font-weight-bold">Personal Information Collected from Third Parties</h6>
					<p>We may collect personal information about you from third party sources, such as business partners, social media platforms, public sources, joint marketing partners (so that we can deliver our Platform and related services) and third parties to whom you have expressed interest in our or their products and services, as well as information that you shared on social media platforms (subject to the respective Platform terms and applicable laws.</p>
				</div>

				<div>
					<h6 class="mb-3 pt-2 font-italic font-weight-bold">Purposes and Legal Bases of Personal Information Use</h6>
				</div>

				<div>
					<h6 class="mb-3 pt-2 font-italic font-weight-bold">Personal Information Purpose.</h6>
					<p>The purposes for which we may process personal information will vary depending upon the circumstances. In general, we use Personal Information for the business and commercial purposes set forth below, and where the GDPR or other relevant laws apply, we have set forth the legal bases for such processing in parenthesis (see above for further explanation of our legal bases):</p>

					<ul class="pl-5">
					  <li class="mb-2"><u>Operating Platform and services and providing related support</u>:&nbsp;to provide and operate the Site and services, communicate with you about your use of the Platform and our services, provide troubleshooting and technical support, respond to your inquiries, fulfill your orders and requests, process your payments, communicate with you, and for similar service and support purposes. (<span class="font-italic">Legal bases: performance of our contract with you; and/or our legitimate interests</span>)</li>

					  <li class="mb-2"><u>Responding to requests</u>:&nbsp;to respond to your inquiries and requests and consider your request or application. (<span class="font-italic">Legal basis: performance of our contract with you</span>)</li>

					  <li class="mb-2"><u>Analyzing and improving the Platform, our services, and our business</u>:&nbsp;to better understand how users access and use the Platform and our services, as well as other products and offerings, both on an aggregated and individualized basis, to administer, monitor, and improve our Services, for our internal purposes, and for other research and analytical purposes. (<span class="font-italic">Legal basis: our legitimate interests</span>)</li>

					  <li class="mb-2"><u>Personalizing experiences</u>:&nbsp;to tailor content we may send or display on the Site, including to offer location customization and personalized help and instructions, and to otherwise personalize your experiences. (<span class="font-italic">Legal basis: our legitimate interests</span>)</li>

					  <li class="mb-2"><u>Advertising and marketing</u>:&nbsp;to promote HuddleXR’s products and Services on third-party websites, as well as for direct marketing purposes, including to send you communications, Client alerts and information we think may interest you. If you are located in a jurisdiction that requires opt-in consent to receive electronic marketing messages, we will only send you such messages if you opt-in to receive them. (<span class="font-italic">Legal bases: our legitimate interests; and/or with your consent</span>)</li>

					  <li class="mb-2"><u>Protecting our legal rights and preventing misuse</u>:&nbsp;to protect the Platform and our business operations; to prevent, detect and investigate fraud, misuse, harassment or other types of unlawful activities; where we believe necessary to investigate, prevent or take action regarding illegal activities, suspected fraud, situations involving potential threats to the safety or legal rights of any person or third party, or violations of this Policy and our applicable Terms of Use and agreements. (<span class="font-italic">Legal bases: our legitimate interests; and/or compliance with laws</span>)</li>

			         <li class="mb-2"><u>Complying with legal obligations</u>:&nbsp;to comply with the law or legal proceedings. For example, we may disclose information in response to subpoenas, court order, and other lawful requests by regulators and law enforcement, including responding to national security or law enforcement disclosure requirements. (<span class="font-italic">Legal bases: our legitimate interests; and/or compliance with laws</span>)</li>

			         <li class="mb-2"><u>Related to our general business operations</u>:&nbsp;to consider and implement mergers, acquisitions, reorganizations, and other business transactions, and where necessary to the administration of our general business, accounting, recordkeeping and legal functions. (<span class="font-italic">Legal bases: our legitimate interests; and/or compliance with laws</span>)</li>
					</ul>
				</div>

				<div>
					<h6 class="mb-3 pt-2 font-italic font-weight-bold">Aggregate, De-identified or Anonymous Data</h6>
					<p> We also create and use aggregate, anonymous and de-identified data to assess, improve and develop our business, products and Services, and for similar research and analytics purposes. This information is not generally subject to the restrictions in this Policy, provided it does not identify and could not be used to identify a particular individual.</p>
				</div>

				<div>
					<h6 class="mb-3 pt-2 font-italic font-weight-bold">Disclosures of Personal Information</h6>
					<p>In general, we disclose the Personal Information we collect for the business and commercial purposes explained below:</p>

					<ul class="pl-5">
					  <li class="mb-2"><u>Enterprise users</u>:&nbsp;if you use, access or communicate with us about our Platform or related services on behalf of your company (our Client), we may share Personal Information about your access, and your communications or requests, with the relevant enterprise Client.</li>

					  <li class="mb-2"><u>Service providers</u>:&nbsp;to third party service providers who perform functions on our behalf. Third party service providers will only process your Personal Information in accordance with our instructions and will implement adequate security measures to protect your personal information.</li>


					  <li class="mb-2"><u>Advertising and analytics partners</u>:&nbsp;to third parties we engage to provide advertising, campaign measurement, online and mobile analytics, and related services to us (with your consent, where required by applicable laws).</li>

					  <li class="mb-2"><u>In response to legal process</u>:&nbsp;in order to comply with the law, judicial proceedings, a court order, or other legal process.</li>

					  <li class="mb-2"><u>To protect our rights</u>:&nbsp;where we believe it is necessary to investigate, prevent or take action regarding illegal activities, suspected fraud, situations involving potential threats to the safety of any person, violations of the HuddleXR Terms of Use or this Privacy Policy, to respond to claims asserted against us or, or as evidence in litigation in which we are involved.</li>

					  <li class="mb-2"><u>Business transfers</u>:&nbsp;as part of any merger, sale, and transfer of our assets, acquisition or restructuring of all or part of our business, bankruptcy, or similar event, including related to due diligence conducted prior to such event where permitted by law.</li>
					</ul>
				</div>

				<div>
					<h6 class="mb-3 pt-2 font-italic font-weight-bold">Aggregate, De-identified or Anonymous data.</h6>
					<p> We may share aggregate, anonymous or de-identified data with third parties for research, marketing, analytics and other purposes, provided such information does not identify a particular individual.</p>
				</div>

				<div>
					<h6 class="mb-3 pt-2 font-weight-bold"><u>International Transfers</u></h6>
					<p> HuddleXR is headquartered in India and has operations and service providers throughout the world. As such, we and our service providers may transfer your personal information to, or access it in, jurisdictions that may not provide equivalent levels of data protection as your home jurisdiction. We will take steps to ensure that your Personal Information receives an adequate level of protection in the jurisdictions in which we process it, including through appropriate written data processing terms and/or data transfer agreements.</p>

					<p> If you are in the European Economic Area (“<b>EEA</b>”), and we process your Personal Information in a jurisdiction that the European Commission has deemed to not provide an adequate level of data protection (a “third country”), we will implement measures to adequately protect your Personal Information, such as putting in place standard contractual clauses approved by the European Commission or another measure that has been approved by the EU Commission as adducing adequate safeguards for the protection of Personal Information when transferred to a third country. You have a right to obtain details of the mechanism under which your Personal Information is transferred outside of the EEA; you may request such details by contacting us as set forth in the Contact Us section below.</p>
				</div>	

				<div>
					<h6 class="mb-3 pt-2 font-weight-bold"><u>Protection of Children’s Personal Information</u></h6>
					<p> HuddleXR does not publish content that is targeted at children. The Platform is not intended for minors under the age 18. We do not knowingly or specifically collect information about minors under the age of 18. If you believe we have unintentionally collected such information, please notify us as set out in the <span class="font-italic">Contact Us</span> section below.</p>
				</div>	

				<div>
					<h6 class="mb-3 pt-2 font-weight-bold"><u>Security</u></h6>
					<p> Wherever your Personal Information may be held within HuddleXR or on its behalf, we take reasonable steps to protect the Personal Information that you share with us from unauthorized access or disclosure, including, without limitation, restricting access to certain portions of our Site through access controls, and using firewalls. Regardless of the precautions taken by us, HuddleXR cannot ensure or warrant the security of any information you transmit to us, and you transmit such information at your own risk. You are responsible for all actions taken with your User ID and password, if any. Therefore, we recommend that you do not disclose your password to anyone. If you lose control of your password, you may lose substantial control over your Personal Information and may be subject to legally binding actions taken on your behalf.</p>
				</div>	

				<div>
					<h6 class="mb-3 pt-2 font-weight-bold"><u>Your Choices and Rights</u></h6>
					
				</div>	

				<div>
					<h6 class="mb-3 pt-2 font-italic font-weight-bold">Access, Amend and Correct.</h6>
					<p> If you wish to access Personal Information that you have submitted to us, to request the correction of any inaccurate information you have submitted to us, or to request deletion of your information, please send your request to info@huddlexr.com. We will review your request and make reasonable efforts to respond to it as soon as practicable. We may ask you for additional information so that we can confirm your identity.</p>
				</div>

				<div>
					<h6 class="mb-3 pt-2 font-italic font-weight-bold">Direct Marketing.</h6>
					<p>  You may always opt-out of direct marketing emails. If you would like to unsubscribe from HuddleXR email subscriptions or otherwise change your email preferences with HuddleXR, please send your request to info@huddlexr.com or follow the instructions in any HuddleXR promotional email that we send to you. We may continue to send you transactional or service-related communications, such as service announcements and administrative messages.</p>
				</div>

				<div>
					<h6 class="mb-3 pt-2 font-italic font-weight-bold">Complaints.</h6>
					<p> We will take steps to try to resolve any complaint you raise regarding our treatment of your Personal Information. You also have the right to raise a complaint with the privacy regulator in your jurisdiction.</p>
				</div>

				<div>
					<h6 class="mb-3 pt-2 font-italic font-weight-bold">Additional Information for Certain Jurisdictions.</h6>
					<p> In the section “Additional Information for Individuals in Certain Jurisdictions” below, we provide additional information as required under California privacy laws, as well as the GDPR. Users in California and the EEA should review this section for more information regarding their rights under these respective laws.</p>
				</div>
				<div>
					<h6 class="mb-3 pt-2 font-weight-bold"><u>Retention</u></h6>
					<p> As a general rule, we retain your Personal Information for as long as necessary to fulfill the purposes for which it was collected or as necessary to comply with our legal obligations, resolve disputes, maintain appropriate business records, and enforce our agreements. In general, for example, we will retain relevant contact information of Clients, prospective Clients and Platform visitors for three months from the date of our last interaction with you and in compliance with our obligations under applicable laws. Our Clients instruct us on how long to retain Platform Data, which we handle as a data processor. We may retain Personal Information for longer where required by our regulatory obligations, professional indemnity obligations, or where we believe necessary to establish, defend, or protect our legal rights and interests or those of others.</p>
				</div>	

				<div>
					<h6 class="mb-3 pt-2 font-weight-bold"><u>Changes to the Policy</u></h6>
					<p> HuddleXR may update this Policy to reflect new or different privacy practices or to reflect changes in industry standards or legal requirements. Revisions will be posted on our Site. This statement of privacy is for the information of our users and does not constitute a contract or modification of any contract. When changes are made to this Privacy Policy, HuddleXR will post a new version of this <a href="./privacy-policy"> Privacy  Policy here </a>. If the changes will materially affect the way we use or disclose your Personal Information, we will endeavor to notify you in advance of the change, such as by sending a notice to the primary email address associated with your account or by posting a notice on the Site. We encourage you to periodically review this Privacy Policy for the latest information on our privacy practices.</p>
				</div>	

				<div>
					<h6 class="mb-3 pt-2 font-weight-bold"><u>Contact Us</u></h6>
					<p> HuddleXR welcomes your comments regarding this Privacy Policy. Please feel free to contact us at:</p>
					<p class="mb-0">Eldew Digital Pvt Ltd</p>
					<p class="mb-0">529/3, Kudale, Chandranil CHS, Panmala, Pune 411030 </p>
					<p>info@huddlexr.com</p>
				</div>	
			</div>
		</div>
	</div>	
</div>
