/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }


body { margin: 0; font-family: Arial; }


.form-control, select{
	  padding: 15px !important;
    border-radius:4.5px !important;
    border:1px solid #B6BDC5 !important;
    color:rgba(0,0,0,.87) !important;     
}
.form-group{
	margin-bottom:27px !important;
  width: 90%;
  margin: auto
}
select.form-control:not([size]):not([multiple]) {
     height: 62px; 
}
.mat-step-label-selected{
  color:#0091DF !important;
}
.mat-step-header .mat-step-label.mat-step-label-active {
    color: white;
}

.mat-stepper-horizontal, .mat-stepper-vertical {
    background-color: transparent;
}

.mat-step-header .mat-step-icon {
    background-color: white !important;
    color: white !important;  
}
.mat-step-label {
    font-size: 22px !important;
    //color: white !important;
}
.mat-step-header .mat-step-icon-selected, {
    background-color: #0091DF !important;
    color: #0091DF !important;
}
.mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
	background-color: black;
}

input.ng-dirty.ng-invalid{
    border:2px solid red;
}


input.ng-invalid.ng-touched{
    border:2px solid red;
}
.mat-stepper-horizontal-line {
    border-top-color: white !important;
}

.ng-dirty .ng-touched .ng-invalid{
  display:block;
}
.form-control:focus {
    outline: 0;
    box-shadow: 0 !important;
}

.mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0.2em 1.75em 0.1em !important;
    margin-top: -0.25em;
    position: relative;
}
mat-form-field{
    width: 100%
}
.mat-form-field-appearance-outline .mat-form-field-outline{
    background:white !important;
    border-radius:4px;
}
.mat-step-icon .mat-icon{
    font-size: 0px !important;
}

.mat-step-text-label{
    height:53px !important;
    padding-top:7px !important;
    font-size: 25px;
    text-align: center;
    font-family: Arial;

}



::placeholder {
  color: #8D8E8E;
  font: normal normal normal 16px/19px Arial;
  letter-spacing: 0px;  
  text-overflow:ellipsis !important;
  overflow: hidden;
}

.mat-select-value {
    //color: #8D8E8E !important;
    font:normal normal normal 16px/19px Arial;
}
.mat-select-arrow {
    color: #676767;
}

input[type=text]::-webkit-input-placeholder:after {
   content: '*';
   color: red;
}
input{width:100%;}

.mat-checkbox-frame {
    background-color: white !important;
    transition: border-color 90ms cubic-bezier(0, 0, 0.2, 0.1);
    border-width: 1px;
    border-style: solid;
}
.example-margin{
  font: normal normal normal 14px/16px Arial;
  color:#fff;
}

button:hover
{
  cursor: pointer;
}



 .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

i { 
    position: absolute; 
  } 
          
.input-icons { 
    width: 100%; 
    margin-bottom: 10px; 
} 
  
.icon { 
    padding-right: 30px;
    padding-top:10px; 
    min-width: 40px;
    font-size:30px;
    right:0;

} 
i:hover, .icon:hover{
  cursor:pointer;
}

// .submit:disabled{
//   opacity: 0.7 !important;
//   cursor : not-allowed !important;
// }


div.location > span.holder {
position: absolute;
padding: 21px 18px;
color: #8D8E8E;
pointer-events:none;
font: normal normal normal 14px/16px Arial;
z-index: 1;
}


span.selectHolder{
  position:absolute;
  padding: 21px 18px;
  color: #8D8E8E;
  cursor:pointer;
  pointer-events:none;
  font: normal normal normal 14px/16px Arial;
}

.selectHolder >span.red{
  color:red;
}

div.location > span.holder > span.red{
    color: red;
}

.mat-horizontal-stepper-header-container{
      white-space: nowrap;
    display: flex;
    align-items: center;
    width: 80% !important;
    /* display: block; */
    margin: auto !important;
}

.errorBlock{
  height:20px;
  display:block;
}


.hidePlaceholder{
  display:none;

}
.showPlaceholder{
  display:block;
}

.cdk-overlay-container .cdk-overlay-pane {
bottom: 68px !important;
}

@media only screen and (max-width: 600px) {
        .mat-horizontal-stepper-header-container {
          white-space: nowrap;
          display: flex;
          align-items: center;
          width: 100% !important; 
          /* display: block; */
          /* margin: auto !important; */
      }
      .mat-step-text-label {
          height: 32px !important;
          padding-top: 7px !important;
          font-size: 12px;
          text-align: center;
          font-family: Arial;
      }
      .mat-stepper-horizontal-line {
        border-top-style: none !important;
      }
      .mat-horizontal-stepper-header{
        padding : 0 !important;
      }
      .heading{
        padding-top: 0px !important;
      }

     

}

.form-control:focus{
  box-shadow:0 0 0 0.15rem rgb(0 0 255);
}

.next{
  font: normal normal bold 14px/20px Arial;
  color: #10384F !important;
}

.prevoius {
  font: normal normal bold 14px/20px Arial;
  color: #FFFFFF !important;
}
.mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate {
    background: #3f51b5;
}

@media only screen and (max-width: 600px) {
     .next , .prevoius{
  float: right;
   width: 100px !important;
   height: 40px !important;
   background: #FFFFFF 0% 0% no-repeat padding-box;
  }
  .submit{
    width:35%;
    height:40px !important;
  }
}

@media only screen and (max-width: 374px) {
     .next , .prevoius{
  float: right;
   width: 90px !important;
   height: 37px !important;
   background: #FFFFFF 0% 0% no-repeat padding-box;
  }

  .submit{
    width:35%;
    height:37px !important;
  }
}

.prevoius{
width: 150px;
height: 45px;
margin-right: 10px;
background: #FFFFFF80 0% 0% no-repeat padding-box
}

.next{
  float: right;
 width: 150px;
 height: 45px;
 background: #FFFFFF 0% 0% no-repeat padding-box;
}
.submit{
  background: #66B512 !important;
  border-radius: 4px;
  color: #FFFFFF;
  width: 41%;
  height: 45px;
}

.mat-option.mat-active{
  background: rgba(0,0,0,.1);
}
.mat-raised-button.mat-button-disabled.mat-button-disabled{
  background: #FFFFFF 0% 0% no-repeat padding-box !important;
  cursor:not-allowed;
}
.mat-raised-button.mat-button-disabled.mat-button-disabled .submit{
  background: red 0% 0% no-repeat padding-box !important;
  cursor:not-allowed;
}
.mat-raised-button.mat-button-disabled.mat-button-disabled .disableNext{
  opacity:0.5 !important;
}
.mat-raised-button.mat-button-disabled.mat-button-disabled .submitText{
  opacity:0.5 !important;
  color: white !important;
  font-family:Arial !important;
}
